/* div{
    color: white;
    background-color: red;
    text-align: center;
    font-family: 'Times New Roman',serif;
    font-weight: bolder;
    font-size: 32px;
    
} */
.odd {
  background-color: rgb(255, 167, 167);
  font-family: Verdana, "DejaVu Sans", sans-serif;
}

.adjust-font-size {
  font-size: 24px;
}

#two {
  color: #0000ff;
  font-size: 36px;
}

#four {
  background-color: hsl(120, 100%, 75%);
  font-weight: bold;
}
.inverted{
    background-color: black;
    color: white;

}
.fancy{
    background-color: yellow;
    color: black;
}
.inverted,
.fancy{
    font-size: 28px;
    font-family: 'Times New Roman', Helvetica, sans-serif;
}

.woman.proportional{
    height: auto;
    width: 300px;

}
.man.distorted{
  height :400px;
  width: 200px;
}
side{
  display: inline-block;
  width: 300px;
  height: auto;
  margin-right: 20px;
  vertical-align: middle;
}
 /* div p{  /*div .text or .conatainer p */
  /* background-color: yellow; */
  /* color: red; */
  /* font-size: 20px; */
  /* align-content: center; */
/* } */


body{
  font-family:Arial, Helvetica, sans-serif;
}

.para {
  font-size: 22px;
}
.para,
  .small-para {
    font-size: 14px;
    font-weight: 800;
  } 


#confirm-button {
  background: green;
  color: white;
  font-weight: bold;
}
.text{
  font-size: 13px;
}

div .child {
  color: rgb(0, 0, 0);
  font-weight: 800;
  font-size: 14px;
}