/* div{
    color: white;
    background-color: red;
    text-align: center;
    font-family: 'Times New Roman',serif;
    font-weight: bolder;
    font-size: 32px;
    
} */
.odd {
  background-color: rgb(255, 167, 167);
  font-family: Verdana, "DejaVu Sans", sans-serif;
}

.adjust-font-size {
  font-size: 24px;
}

#two {
  color: #0000ff;
  font-size: 36px;
}

#four {
  background-color: hsl(120, 100%, 75%);
  font-weight: bold;
}
.inverted{
    background-color: black;
    color: white;

}
.fancy{
    background-color: yellow;
    color: black;
}
.inverted,
.fancy{
    font-size: 28px;
    font-family: 'Times New Roman', Helvetica, sans-serif;
}

.woman.proportional{
    height: auto;
    width: 300px;

}
.man.distorted{
  height :400px;
  width: 200px;
}
side{
  display: inline-block;
  width: 300px;
  height: auto;
  margin-right: 20px;
  vertical-align: middle;
}
